@mixin pos($size, $index) {
	background-position: $size * $index * -1px 0;
}

.icon-48 {
	width: 36px;
	height: 36px;
	background-image: url(icons-48.svg);
	&.ic-twitter {
		@include pos(0, 36);
	}
	&.ic-facebook {
		@include pos(1, 36);
	}
	&.ic-instagram {
		@include pos(2, 36);
	}
	&.ic-star {
		@include pos(3, 36);
	}
}

.icon-24 {
	width: 24px;
	height: 24px;
	background-image: url(icons-24.svg);
	&.ic-twitter {
		@include pos(0, 24);
	}
	&.ic-facebook {
		@include pos(1, 24);
	}
	&.ic-instagram {
		@include pos(2, 24);
	}
	&.ic-star {
		@include pos(3, 24);
	}
}