/* dimen */

$radius-small: 6px;
$radius: 12px;
$radius-large: 24px;

$space-smaller: 6px;
$space-small: 12px;
$space: 18px;
$space-large: 24px;
$space-larger: 30px;

/* color */

$background-dark: #414141;
$background-light: #D0D0D0;
$background-card: #F2F2F2;

$accent-normal: #B0EA36;
$accent-light: saturate(lighten($accent-normal, 18%), 25%);
$accent-lighter: saturate(lighten($accent-normal, 30%), 20%);
$accent-dark: saturate(darken($accent-normal, 18%), 25%);
$accent-darker: saturate(darken($accent-normal, 35%), 20%);

$text-primary-light: #525252;
$text-secondary-light: #9B9B9B;

$text-primary-dark: #FFFFFF;
$text-secondary-dark: #D8D8D8;