/* dimen */

$radius-small: 6px;
$radius: 12px;
$radius-large: 24px;

$space-smaller: 6px;
$space-small: 12px;
$space: 18px;
$space-large: 24px;
$space-larger: 30px;

/* color */

$background-dark: #414141;
$background-light: #D0D0D0;
$background-card: #F2F2F2;

$accent-normal: #AEFF00;
$accent-light: lighten($accent-normal, 18%);
$accent-lighter: lighten($accent-normal, 32%);
$accent-dark: darken($accent-normal, 18%);
$accent-darker: darken($accent-normal, 32%);

$text-primary-light: #525252;
$text-secondary-light: #9B9B9B;

$text-primary-dark: #FFFFFF;
$text-secondary-dark: #D8D8D8;